*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     font-family: "Red Hat Text", sans-serif;
}


.btninput-wrp input{

    padding: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #ddd ;
    width: 79%;
    

}

.btninput-wrp{
    width: 100%;
}

.btninput-wrp button{
    padding: 13px 20px;
    font-size:20px;
    background: #5206e8;
    border: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 20%;
    cursor: pointer;
}

.evenodd{
    padding: 20px;
    background: #dcdcdc;
    border-radius: 5px;
    border: 1px solid #ddd;
    max-width: 500px;
    margin: 50px auto;
}

.evenodd_output{
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    background: #fff;
    max-width: 50%;
    margin: 20px auto;
    height: 100px;
    text-align: center;
    
}

.evenodd_output h1{
    font-size: 25px;
    font-weight: 800;
    color: #5206e8;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.titl{
    font-size: 30px;
    color: #000;
    font-weight: 900;
    text-align: center;
    margin-block: 50px;
}


/* counter box style */

.counter{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #f1f1f1;
    padding: 25px;
    border-radius: 10px;
}

.counter h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.counter button{
    margin-inline: 10px;
    font-size: 18px;
    background: #ddd;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 600;
    cursor: pointer;
}

